<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="CaptureMyLog.NLog" />
  </extensions>
  <targets>
    <target name="MyCaptureMyLogTarget" type="CaptureMyLogTarget" ApplicationKey="3569e119-8946-4660-bf25-8261c38573ff" OwnerKey="3569e119-8946-4660-bf25-8261c38573ff" DeviceKey="CaptureMyLog.Client.NLog.FunctionalTests" IsTakingPictureEnabled="false"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="MyCaptureMyLogTarget"/>
  </rules>
</nlog>